:root {
    --color-cyan: #00f2ff;
    --color-dark-navy: #0f172a;
    --color-gray-blue: #1e293b;
    --color-white: #f8fafc;
    --color-details: #334155;

    --box-shadow-color-cyan: rgba(0, 242, 255, 0.2);
    --box-shadow-color-white: rgba(255, 255, 255, 0.2);

    --padding-container: clamp(1rem, 3vw, 3rem);
    --padding-card: clamp(1rem, 3vw, 2rem);
    --font-size-base: clamp(14px, 3vw, 16px);
    --card-size: clamp(200px, 30vw, 400px);
}

/* Resets */
html,
body,
main,
ul {
    margin: 0;
}

button,
input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--color-dark-navy);
    color: var(--color-white);
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    margin: 0;
    padding: 0 var(--padding-container);
    font-size: var(--font-size-base);
}

.logo {
    font-weight: bold;
}

.logo h2,
.logo h3 {
    color: var(--color-white);
    text-transform: none;
}

.logo h2 span,
.logo h3 span {
    color: var(--color-cyan);
}

header {
    margin-left: calc(var(--padding-container) * -1);
    margin-right: calc(var(--padding-container) * -1);
}

.header-nav {
    background: var(--color-dark-navy);
    padding: 1rem var(--padding-container);
    border-bottom: 1px solid var(--color-details);
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.hamburger {
    display: flex;
    flex-direction: column;
    gap: 6px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 101;
}

.hamburger .line {
    width: 30px;
    height: 3px;
    background: var(--color-cyan);
    transition: 0.3s;
}

.nav-links {
    position: fixed;
    top: 0;

    /* Fora da tela */
    right: -100%;

    width: 80%;
    height: 100vh;
    background: var(--color-gray-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease-in-out;
}

.nav-links.active {
    /* Desliza para dentro */
    right: 0;
}

.nav-links ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

.nav-links li {
    margin: 2rem 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.nav-links a:hover {
    color: var(--color-cyan);
}

.main-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.filter-section {
    text-align: center;
    margin-bottom: 3rem;
}

.main-container .filter-group {
    display: flex;
    justify-content: center;
}

#filterInput {
    width: 100%;
    max-width: 30rem;
    padding: 1rem 1.5rem;
    background: var(--color-gray-blue);
    border: 2px solid var(--color-details);
    border-radius: .5rem;
    color: white;
    font-size: 1rem;
    transition: border-color 0.3s, box-shadow 0.3s;
}

#filterInput:focus {
    outline: none;
    border-color: var(--color-cyan);
    box-shadow: 0 5px 20px var(--box-shadow-color-cyan);
}

#cursosContainer .cursos-msg {
    text-align: center;
}

#cursosContainer #cursosGrid {
    display: grid;

    /* Preencher a tela para alinhar tudo e o footer no fim da tela */
    flex: 1;

    grid-template-columns: repeat(auto-fit, minmax(var(--card-size), 1fr));
    gap: 2rem;
}

.curso-card {
    background: var(--color-gray-blue);
    border-radius: 1rem;
    padding: var(--padding-card);
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-details);
    transition: transform .2s ease, box-shadow .2s ease;
}

.curso-card .card-header h3 {
    margin-bottom: 0;
}

.curso-card .card-header .label {
    background: var(--color-cyan);
    color: var(--color-dark-navy);
    padding: 0.3rem 0.8rem;
    border-radius: .5rem;
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
}

.curso-card .card-body p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.curso-card .btn-saber-mais {
    background-color: transparent;
    color: var(--color-cyan);
    border: 1px solid var(--color-cyan);
    padding: 1rem;
    border-radius: .5rem;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    align-self: self-end;
    margin-top: auto;
}

.curso-card .btn-saber-mais:hover {
    background-color: var(--color-cyan);
    color: var(--color-dark-navy);
}

footer {
    margin-top: 2rem;
    margin-left: calc(var(--padding-container) * -1);
    margin-right: calc(var(--padding-container) * -1);
    background-color: var(--color-gray-blue);
    padding: 1rem var(--padding-container) 3rem;
}

footer h3 {
    color: var(--color-cyan);
    text-transform: uppercase;
}

.footer-itens {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
    gap: 2rem;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin: .5rem 0;
}

.footer-links a {
    text-decoration: none;
    color: var(--color-white);
}

.footer-links a:hover {
    color: var(--color-cyan);
}

.newsletter-input {
    display: flex;
    gap: 1rem;
}

#newsletterInput {
    width: 100%;
    background: var(--color-dark-navy);
    border: 2px solid var(--color-details);
    border-radius: .2rem;
    color: white;
    padding: .3rem;
}

#newsletterInput:focus {
    outline: none;
    border-color: var(--color-cyan);
    box-shadow: 0 5px 20px var(--box-shadow-color-cyan);
}

.btn-newsletter-submit {
    background-color: var(--color-cyan);
    color: var(--color-dark-navy);
    padding: .5rem 1rem;
    border-radius: .3rem;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
}

.btn-newsletter-submit:hover {
    background-color: var(--color-white);
    color: var(--color-dark-navy);
    cursor: pointer;
    box-shadow: 0 5px 20px var(--box-shadow-color-white);
}

/* Animação do Hambúrguer para X */
.hamburger.open .line:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.hamburger.open .line:nth-child(2) {
    opacity: 0;
}

.hamburger.open .line:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

/* RESPONSIVIDADE AVANÇADA (Desktop) */
@media (min-width: 768px) {
    .hamburger {
        display: none;
    }

    /* ocultar botões do header*/
    .nav-links {
        position: static;
        width: auto;
        height: auto;
        background: none;
        transition: none;
    }

    .nav-links ul {
        display: flex;
        gap: 2rem;
    }

    .nav-links a {
        font-size: var(--font-size-base);
    }

    footer {
        padding: 1rem 15% 5rem;
    }
}

/* Efeito de hover apenas para dispositivos com mouse */
@media (hover: hover) {
    .curso-card:hover {
        transform: scale(1.03);
        box-shadow: 0 5px 20px var(--color-cyan);
        border-color: var(--color-cyan);
    }
}

@media (max-width: 320px) {}
